
<%- include('./partials/header'); -%>

<div class="sidebar">
    <div class="container">
    <ul>
        <li >
            <div class="box">
                <a href="/dashboard">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" 
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                    class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1">
                    </path><polygon points="12 15 17 21 7 21 12 15"></polygon>
                </svg>
                <p>Dashboard</p>
                </a>
            </div>
        </li>
        <li >
            <div class="box">
                <a href="/viewDoctor">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square">
                    <polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                </svg>
                <p>View Doctor</p>
                </a>
            </div>
        </li>
        <li >
            <div class="box">
                <a href="/addDoctor">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" 
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                    class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" 
                    y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line>
                </svg>
                <p>Add Doctor</p>
                </a>
            </div>
        </li>
        <li class="logout">
            <div class="box">
                <a href="/">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" 
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                    class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                    <polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
                <p>Logout</p>
                </a>
            </div>
        </li>
      
    </ul>
</div>
</div>
 <!-- ---------------------------------------------------------------------------------------------------------------------- -->

 <div class="left-container">
    <h1 class="text-design overview">Overview</h1>
    <p class="sub-content">Welcome back, Adrianne John Basuel</p>
    
 </div>

<div class="right-container">
     <div class="right-position1">
        <div class="green-border-rectangle">
            <p class="admin-form">
                Admin
            <svg 
                xmlns="http://www.w3.org/2000/svg" width="19" height="19" 
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 
                5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
            </svg>
            </p>
        </div>
     </div>
</div>

<div class="right-container text-design">
    <div class="right-position2">
        <img class="img-position" src="/images/boy.png" alt="boy "> 
    </div>
</div>

<div class="right-container">
    <div class="right-position3">
        <p class="text-design ">Adrianne Basuel</p>
    </div>
</div>


<div class="middle-container1">
    <h1 class="data-text">USERS</h1>
    <h1 class="text-design data"><%=users.length%></h1>
</div>

<div class="middle-container2">
    <h1 class="data-text">DOCTORS</h1>
    <h1 class="text-design data"><%=users.length%></h1> 

</div>



 <div class="middle-container3">
    <p>_____________________________________________________________________________________________________________________________________________________________________________________________</p>
    <h2 class="text-design data">USERS</h2>

    <!-- Main Site Here -->

    <main id="site-main">
        <div class="container1">
            <!-- <div class="box-nav d-flex justify-between">
                <a href="/add-user"class="border-shadow">
                    <span class="text-gradient">New User
                        <i class="fas fa-user"></i>
                    </span>
                </a>
            </div> -->
    

            <form action="/dashboard" method="post">
                <table class="table1">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID Number</th>
                            <th>Name</th>
                            <th>Mobile No.</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < users.length; i++){ %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td><%= users[i].name %></td>
                            <td><%= users[i].mobileNo %></td>
                            <td><%= users[i].email %></td>
                            <td>
                                <a href="/update-user?id=<%= users[i]._id%>" class="btn border-shadow update">
                                    <span class="text-gradient">
                                        <i class="fas fa-pencil-alt"></i>
                                    </span>
                                </a>
                                <a class="btn border-shadow delete" data-id=<%=users[i]._id%>>
                                    <span class="text-gradient">
                                        <i class="fas fa-times"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
    
    
      
 </div>
    
      
      
      

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/config.js"></script>



<%- include('./partials/footer'); -%>